<!DOCTYPE html>
<html>
<head>
    <title>视频处理平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 侧边栏 -->
            <div class="col-md-2 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('upload') }}">文件上传</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('task_list') }}">任务列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('templates') }}">模板文件上传</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('files') }}">已上传文件</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('taskstyles') }}">模版管理</a>
                    </li>
                </ul>
            </div>
            <!-- 主要内容区 -->
            <div class="col-md-10 main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>